<app-jumbotron [title]=title [subtitle]=subtitle></app-jumbotron>

<div class="mx-auto my-5">

    <!-- Démo du site -->
    <div class="card demo mx-auto">

        <h3 class="card-header deep-purple darken-2 white-text d-flex align-items-center space-beetween">
            <span class="mr-auto">Aperçu</span>
            <button class="btn rgba-white-slight waves-light float-right" (click)="onViewPublic()">Voir la version public</button>
        </h3>

        <!-- Header -->
        <app-default-header [site]="site" [url]="url"></app-default-header>
        
        <!-- Main -->
        <main class="container">
            <section *ngFor="let navigation of site.navigation; let i = index" [id]="i">
                <app-default-home [site]="site" *ngIf="navigation === 'Accueil'"></app-default-home>
                <app-default-about [site]="site" *ngIf="navigation === 'A propos'"></app-default-about>
                <app-default-blog [site]="site" *ngIf="navigation === 'Blog'"></app-default-blog>
                <app-default-contact [site]="site" *ngIf="navigation === 'Contact'"></app-default-contact>
            </section>
        </main>

        <!-- Footer -->
        <app-default-footer [site]="site"></app-default-footer>
                            
    </div>
</div>