.demo {
    box-shadow: rgba(0, 0, 0, 0.4) 5px 5px 10px;
    background-color: white;
    padding: 0;
    max-height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

.back {
    position: fixed;
    right: 2%;
    bottom: 2%
}

section {
    margin: 1em auto;
    padding: 15px;
}