<app-jumbotron [title]=title [subtitle]=subtitle></app-jumbotron>

<div class="row container-fluid mx-auto my-5">
    <div class="col-md-2">
        <h3 class="card-header deep-purple darken-2 white-text">Contenu</h3>
    </div>
    <div class="col-md-8 card demo indigo lighten-5">

        <h3 class="card-header deep-purple darken-2 white-text">Aperçu</h3>

        <!-- Header -->
        <header>
            <!--Navbar-->
            <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo w-100">    
                <!-- Navbar brand -->
                <logo><a class="navbar-brand" href="#">{{ site.title }}</a></logo>
                <!-- Collapsible content -->
                <links>
                    <!-- Links -->
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item" *ngFor="let navigation of site.navigation; let i =index">
                            <a class="nav-link waves-light" [href]="'#' + i" mdbWavesEffect>{{ navigation }}</a>
                        </li>
                    </ul>
                    <!-- Links -->
                </links>
                <!-- Collapsible content -->
            </mdb-navbar>
            <!--/.Navbar-->
        
            <!-- Jumbotron -->
            <div class="jumbotron text-center linear-blue">
                <h1 class="h1-responsive">{{ site.title }}</h1>
                <p class="lead">{{ site.author }}</p>
                <hr class="my-2">
                <p>{{ site.description }}</p>
                <a class="btn btn-primary btn-lg waves-light" role="button" mdbWavesEffect>Contactez nous !</a>
            </div>
        </header>
        
        <!-- Main -->
        <main class="container">
            <section *ngFor="let navigation of site.navigation; let i = index" [id]="i" class="card">
                <h2>{{ navigation }}</h2>
            </section>
        </main>

        <!--Footer-->
        <footer class="page-footer indigo pt-4 mt-4">

            <!--Footer Links-->
            <div class="container-fluid text-center text-md-left">
                <div class="row">

                    <!--First column-->
                    <div class="col-md-6">
                        <h5 class="title">{{ site.title }}</h5>
                        <p>{{ site.description }}</p>
                    </div>
                    <!--/.First column-->

                    <!--Second column-->
                    <div class="col-md-6">
                        <h5 class="title">Liens</h5>
                        <ul class="list-unstyled">
                            <li *ngFor="let navigation of site.navigation; let i = index">
                                <a [href]="'#' + i">{{ navigation }}</a>
                            </li>
                        </ul>
                    </div>
                    <!--/.Second column-->
                </div>
            </div>
            <!--/.Footer Links-->

            <!--Copyright-->
            <div class="footer-copyright text-center py-3">
                <div class="container-fluid">
                    © 2018 Copyright: <a [href]="'https://www.' + getUrl(site.title) + '.my-best-cms.com'"> {{ site.title }} </a>
                </div>
            </div>
            <!--/.Copyright-->
        </footer>
        <!--/.Footer-->
                            
    </div>
    <div class="col-md-2">
        <h3 class="card-header deep-purple darken-2 white-text">Design</h3>
    </div>
</div>



<button class="btn btn-default back" (click)="onBack()">Retour</button>