<!--Section: A propos-->
<section class="py-4 text-center text-lg-left">

    <!--Section heading-->
    <h2 class="mb-5 pt-4">A Propos</h2>
    <!--Section description-->
    <p class="mb-5 pb-3 text-justify text-to-edit">{{ site.about.content }}</p>

    <!-- Section Objectif -->
    <div class="row">
      <div class="col-md">
        <h3 class="my-3">Objectifs</h3>
        <p class="text-justify text-to-edit">{{ site.about.goal }}</p>
      </div>
      <div class="col-md text-center">
        <div class="selector">
            <img *ngIf="site.about.illustration" [src]="site.about.illustration" alt="Avatar" class="image img-fluid">
            <div *ngIf="!currentUpload" class="middle">
              <div class="form-group">
                <label for="illustration" class="btn btn-primary add">Choisir une image</label>
                <input type="file"
                        id="illustration"
                        (change)="detectFiles($event); onDeclareUpload('illustration')"
                        mdbInputDirective>
              </div>
            </div>
            <div class="over" *ngIf="currentUpload && uploaded == 'illustration'">
              <button class="btn btn-success" *ngIf="currentUpload.progress == 100" (click)="onAddIllustration()">Valider</button>                               
              <div class="progress animated fadeIn" *ngIf="currentUpload.progress < 100">
                  <div class="progress-bar" role="progressbar" [ngStyle]="{'width.%': currentUpload.progress}" [aria-valuenow]="currentUpload.progress" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
          </div>
      </div>
    </div>

    <!-- Section Story -->
    <div class="row mt-5">
      <div class="col-md text-center">
        <div class="selector">
          <img *ngIf="site.about.photoAuthor" [src]="site.about.photoAuthor" alt="Avatar" class="image img-fluid">
          <div *ngIf="!currentUpload" class="middle">
            <div class="form-group">
              <label for="photoAuthor" class="btn btn-primary add">Choisir une image</label>
              <input type="file"
                      id="photoAuthor"
                      (change)="detectFiles($event); onDeclareUpload('photoAuthor')"
                      mdbInputDirective>
            </div>
          </div>
          <div class="over" *ngIf="currentUpload && uploaded == 'photoAuthor'">
            <button class="btn btn-success" *ngIf="currentUpload.progress == 100" (click)="onAddPhotoAuthor()">Valider</button>                               
            <div class="progress animated fadeIn" *ngIf="currentUpload.progress < 100">
                <div class="progress-bar" role="progressbar" [ngStyle]="{'width.%': currentUpload.progress}" [aria-valuenow]="currentUpload.progress" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md">
        <h3 class="my-3">Mon Histoire</h3>
        <p class="text-justify text-to-edit">{{ site.about.storyAuthor }}</p>
      </div>
    </div>
    
    <hr>
</section>
<!--Section: Accueil-->