<!--Section: A propos-->
<section class="py-4 text-center text-lg-left">

    <!--Section heading-->
    <h2 class="mb-5 pt-4">A Propos</h2>
    <!--Section description-->
    <p class="mb-5 pb-3 text-justify text-to-edit">{{ site.about.content }}</p>

    <!-- Section Objectif -->
    <div class="row">
      <div class="col-md">
        <h3 class="my-3">Objectifs</h3>
        <p class="text-justify text-to-edit">{{ site.about.goal }}</p>
      </div>
      <div class="col-md text-center">
        <img *ngIf="site.about.illustration" [src]="site.about.illustration" class="img-fluid">
        <div class="form-group mt-5">
            <label for="illustration" class="btn btn-primary add">Choisir une illustration</label>
            <input type="file"
                    id="illustration"
                    style="display: none"
                    mdbInputDirective
                    (change)="detectFiles($event, 'illustration')">
        </div>
      </div>
    </div>

    <!-- Section Story -->
    <div class="row mt-5">
      <div class="col-md text-center">
        <img *ngIf="site.about.photoAuthor" [src]="site.about.photoAuthor" class="img-fluid">
        <div class="form-group mt-5">
          <label for="photoAuthor" class="btn btn-primary add">Choisir une illustration</label>
          <input type="file"
                  id="photoAuthor"
                  style="display: none"
                  mdbInputDirective
                  (change)="detectFiles($event, 'photoAuthor')">
        </div>
      </div>
      <div class="col-md">
        <h3 class="my-3">Mon Histoire</h3>
        <p class="text-justify text-to-edit">{{ site.about.storyAuthor }}</p>
      </div>
    </div>
    
    <hr>
</section>
<!--Section: Accueil-->

<div class="upload">
  <div class="progress animated fadeIn" *ngIf="currentUpload">
      <div class="progress-bar" role="progressbar" [ngStyle]="{'width.%': currentUpload.progress}" [aria-valuenow]="currentUpload.progress" aria-valuemin="0" aria-valuemax="100"></div>
  </div>
</div>