<app-jumbotron [title]=title [subtitle]=subtitle></app-jumbotron>

<div class="card missing-card my-5 animated wow fadeInUp">
  <form [formGroup]="missingForm" (ngSubmit)="onSubmit()" class="card-body">
    <div class="md-form">
      <input type="email"
              id="email"
              class="form-control"
              formControlName="email"
              data-error="Ceci n'est pas un mail valide" data-success="Ceci est un mail valide"
              mdbInputDirective>
      <label for="email">Adresse mail</label>
    </div>
    <button class="btn deep-purple darken-2 mx-auto mt-3"
            type="submit"
            mdbWavesEffect 
            [disabled]="missingForm.invalid">Modifier mon mot de passe</button>
  </form>
  <p class="text-danger mx-4">{{ errorMessage }}</p>
</div>