<!-- Header -->
<header>
  <!--Navbar-->
  <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark w-100 fixed-top"
              style=" background: transparent;
                        position: absolute;
                        width: 100%;
                        top: 0px;">>
      <!-- Navbar brand -->
      <logo><a class="navbar-brand" href="#">{{ site.title }}</a></logo>
      <!-- Collapsible content -->
      <links>
          <!-- Links -->
          <ul class="navbar-nav mr-auto">
              <li class="nav-item" *ngFor="let navigation of site.navigation; let i =index">
                  <a class="nav-link waves-light" [href]="url + '#' + i" mdbWavesEffect>{{ navigation }}</a>
              </li>
          </ul>
          <!-- Links -->
      </links>
      <!-- Collapsible content -->
  </mdb-navbar>
  <!--/.Navbar-->

  <!-- Jumbotron -->
  <div class="jumbotron text-center"
       [ngClass]="{ 'linear-blue': site.background == 'blue',
                      'linear-black': site.background == 'black',
                      'linear-green': site.background == 'green',
                      'linear-red': site.background == 'red'}">
    <h1 class="h1-responsive" style="margin-top: 40px">{{ site.title }}</h1>
    <p class="lead">{{ site.author }}</p>
    <hr class="my-2">
    <a class="btn btn-lg waves-light" [href]="url + '#' + 3"  role="button" mdbWavesEffect
       [ngClass]="{ 'indigo': site.background == 'blue',
                      'black': site.background == 'black',
                      'green': site.background == 'green',
                      'red': site.background == 'red'}">Contactez nous !</a>
  </div>

</header>
