<app-jumbotron [title]=title [subtitle]=subtitle></app-jumbotron>

<!-- Conteneur de la page -->
<div class="container">
    <div class="row my-5">
        <div class="col col-md">
            <ul class="card list-group animated wow fadeInUp">
                <li class="list-group-item">
                    Prénom : {{ user.firstname }}
                </li>
                <li class="list-group-item">
                    Nom : {{ user.lastname }}
                </li>
                <li class="list-group-item" *ngIf="user.sites">
                    Nombres de sites : {{ user.sites.length }}
                </li>
            </ul>
        </div>
        <div class="col col-md">
            <div class="card my-account-card animated wow fadeInUp">
                <form [formGroup]="editProfilForm" (ngSubmit)="onSubmit()" class="card-body">
                    <div class="md-form">
                    <input type="email"
                            id="email"
                            class="form-control"
                            formControlName="email"
                            [value]="user.email"
                            data-error="Ceci n'est pas un mail valide" data-success="Ceci est un mail valide"
                            mdbInputDirective>
                    <label for="email">Adresse mail</label>
                    </div>
                    <button class="btn btn-sm deep-purple darken-2 mx-auto mt-3"
                            type="submit"
                            mdbWavesEffect
                            [disabled]="editProfilForm.invalid">Modifier mon adresse email</button>
                    <button class="btn btn-sm deep-purple darken-2 mx-auto mt-3"
                            type="submit"
                            mdbWavesEffect
                            (click)="onModificationPassword()">Modifier mon mot de passe</button>
                </form>
                <p class="text-danger mx-4">{{ errorMessage }}</p>
            </div>
        </div>
    </div>

    <button class="btn btn-danger delete-user" (click)="delete.show()">Supprimer mon compte</button>
</div>

<!-- Boite modal de suppression du compte -->
<div mdbModal #delete="mdb-modal" class="modal fade" id="delete-user" tabindex="-1" role="dialog" aria-labelledby="Supprimer mon compte" aria-hidden="true">
    <div class="modal-dialog modal-notify modal-danger" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <p class="heading lead">Confirmation de suppression du compte</p>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="delete.hide()">
                    <span aria-hidden="true" class="white-text">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="text-center">
                    <i class="fa fa-warning fa-4x mb-3 animated rotateIn"></i>
                    <p>
                        Êtes-vous sûr de vouloir supprimer votre compte ?<br>
                        Cette opération est irreversible avec de lourdes conséquences.
                        Si vous possedez des sites web sur notre plateformes, l'ensemble d'entre eux vont
                        être supprimés aussi. Vous n'aurez aucun moyen de les récupérer à l'avenir.
                    </p>
                </div>
            </div>
            <div class="modal-footer justify-content-center">
                <a type="button" class="btn btn-danger waves-light" (click)="onDeleteUser()" mdbWavesEffect>Valider</a>
                <a type="button" class="btn btn-outline-secondary" data-dismiss="modal" (click)="delete.hide()" mdbWavesEffect>Annuler</a>
            </div>
        </div>
    </div>
</div>

