
<!--Section: Blog-->
<section class="py-4 text-center text-lg-left">

  <!--Section heading-->
  <h2 class="mb-5 pt-4">
      Blog
  </h2>

  <!--Post row-->
  <div *ngIf="site.blog">
    <article class="row my-5" *ngFor="let article of site.blog.articles">

      <!--Grid column-->
      <div class="col-lg-5 col-xl-5 pb-3">
          <!--Featured image-->
          <div class="view overlay rounded z-depth-2">
              <img [src]="article.illustration"
                  class="img-fluid">
          </div>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-7 col-xl-7">
          <!--Excerpt-->
          <a href="" class="indigo-text">
              <h6 class="font-weight-bold pb-1">
                  {{ article.categorie }}</h6>
          </a>
          <h3 class="mb-4 font-weight-bold dark-grey-text">
              <strong>{{ article.title }}</strong>
          </h3>
          <p>{{ article.content }}</p>

          <h4 class="mt-4 font-weight-bold dark-grey-text">Commentaires :</h4>
          <div class="comments">
            <div class="card p-2 my-4" *ngFor="let comment of article.comments; let i = index">
                <h5 class="card-header white">
                    <i class="fa fa-user-circle mr-2" aria-hidden="true"></i>
                    <strong>{{comment.author}}</strong>
                        a commenté :
                </h5>
                <p class="card-body">
                    <i class="fa fa-quote-left mr-2" aria-hidden="true"></i>
                    {{comment.content}}
                    <i class="fa fa-quote-right ml-2" aria-hidden="true"></i>
                </p>
            </div>
            <p *ngIf="!article.comments">Il n'y a pour le moment aucun commentaire pour cet article</p>
            </div>

            <div class="card">
                <form [formGroup]="addCommentForm" (ngSubmit)="onAddComment(article)" class="card-body">
                    <h4>Ajouter un commentaire</h4>
                    <div class="md-form">
                    <input type="text"
                            id="author"
                            class="form-control"
                            formControlName="author"
                            [mdbValidate]="false"
                            mdbInputDirective>
                    <label for="title">Auteur</label>
                    </div>
                    <div class="md-form">
                        <input type="text"
                                id="contenu"
                                class="form-control"
                                formControlName="contenu"
                                [mdbValidate]="false"
                                mdbInputDirective>
                        <label for="categorie">Contenu</label>
                    </div>

                    <button class="btn btn-primary mx-auto mt-3"
                            type="submit"
                            mdbWavesEffect 
                            [disabled]="addCommentForm.invalid">Ajouter un commentaire</button>
                </form>
            </div>
      </div>
      <!--Grid column-->

    </article>
  </div>
  
  <!--Post row-->

  <p *ngIf="!site.blog"><i>Il n'y a pour le moment aucun article.</i></p>

  <hr>

</section>
<!--Section: Blog-->
