.banner {
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 100%;
    width: 600px;
}

.img-banner {
    max-width: 100%;
    height: auto;
    margin: auto
}

.large-banner {
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 92%;
    width: 750px;
}

.engagement {
    text-align: center;
    margin: 5em auto;
}

.view-site {
  max-width: 250px;
}
