<app-jumbotron [title]=title [subtitle]=subtitle></app-jumbotron>

<div class="banner mt-5 animated wow fadeInUp">
    <h2 class="text-center">Un CMS grand public pour des sites à grandes audiences !</h2>
    <img class="img-banner mt-5" src="../../assets/website-analysis.png" alt="">
    <p class="text-justify mt-3">SEO est l'acronyme de Search Engine Optimization et peut être défini comme l'art de positionner un site, 
        une page web ou une application dans les premiers résultats naturels des moteurs de recherche. 
        En français, le SEO est désigné par le terme de référencement naturel. Avec My Best CMS, nous vous garantissons un bon positionnement
        en moins de 3 mois d'activité.</p>
</div>

<div class="banner mt-5 animated wow fadeInUp">
    <h2 class="text-center">Une utilisation hors-connexion</h2>
    <img class="img-banner mt-4" src="../../assets/pwa-reliable.png" alt="">
    <p class="text-justify mt-3">Grâce aux nouvelles technologies du web, nous vous offrons la possiblité de modifier votre site même sans connexion internet
        sur smartphone, mais aussi sur ordinateur. Ajouter une navigation, des articles, des plugins, etc...<br>
        Plus de possibilité de perdre ses changements si vous avez perdu votre connection. Que du bonheur non ?
    </p>
</div>
